<div class="home-display">

    <divbid="show-link">
        <h1>Cinema</h1>
        <h1 id="ironhack">Ironhack</h1>


        <a href="/movies" id="check movies">
          <div id="buttom">Check the movies</div>
        
        
        </a>
    
    
    
    
    
    
    
    
    
    </div>









</div>